<div class="join-container">
    <header class="join-header">
        <h1>ChatRoom</h1>
    </header>
    <main class="join-main">
        <form action="/chat/room">
            <div class="row">
                <label for="username">Username</label>
                <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter username..."
                        required
                />
            </div>
            <div class="row">
                <label for="room">Room</label>
                <select name="room" id="room">
                    {{#each rooms}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>