<div class="join-container">
    <header class="join-header">
        <h1>ChatRoom</h1>
    </header>
    <main class="join-main">
        <form action="/chat/room" id="chat-room-form" method="post">
            <div class="row">
                <label for="username">Username</label>
                <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter username..."
                        required
                />
            </div>
            <div class="row">
                <label for="room">Room</label>
                <select name="room" id="room">
                    {{#each rooms}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>
<script>
    const form = document.getElementById('chat-room-form')
    form.addEventListener('submit', (e) => {
      e.preventDefault();
        form.action += `/${e.target.room.value}`
        form.submit()
    })
</script>